<div>
  <h2 id="sectionAboutMe"> About me </h2>
</div>
<div>
  <!--TODO: Add image when available-->
  <img src="..." alt="..." class="img-circle">
</div>
<div class="about-me-description">
  <p>After finishing both my BBA and my first professional experiences(in the bank and financial sector), I decided to take part of the disruptive and amazing tech world. Due to that, I started to complete my business background with digital and tech skills, either by self-learning or by attending to courses in the fields of digital marketing and programming.</p>
  <p>Also, I feel very passionate about entrepreneurship as I have always wanted to create my own company. So, I started a few startups and after analyzing all the problems I faced and what I did wrong, I founded Startup Center, a non-for-profit organization aimed to encourage entrepreneur spirit between young people in Spain and to help them to launch and accelerate their projects.</p>
  <p>Always looking forward to taking part of amazing projects.Aimed to become a better professional and learn new things each day.</p>
</div>


