<h2 align="center"> Certificates </h2>
<ul class="timeline">
  <li class="timeline-inverted">
    <div class="timeline-icon">
      <i class="glyphicon glyphicon-education"></i>
    </div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">
          Web Development Bootcamp - <b><a href="https://www.ironhack.com/en">IronHack</a></b>
        </h4>
      </div>
      <div class="timeline-body">
        Intensive coding programs for developers.
        Good development practices: Focus on clean code principles, design patterns and test driven development (TDD)
        Specialized in;
        - Ruby (Rails advanced and Sinatra)
        - HTML5, CSS3
        - JavaScript
        (2015)
      </div>
    </div>
  </li>
  <li class="timeline">
    <div class="timeline-icon">
      <i class="glyphicon glyphicon-education"></i>
    </div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">
          Bachelor of Business Administration (BBA) - <b></b><a href="http://www.uc3m.es/Home">Carlos III University of Madrid</a></b>
        </h4>
      </div>
      <div class="timeline-body">
        (2009 - 2013)
      </div>
    </div>
  </li>
</ul>




