<div ng-if="main.showForm" ng-switch="main.recruiterForm" class="contact-form">
  <!-- Other-->
  <form ng-switch-when="false" mailto:javier.mora.alcazar@gmail.com method="post" enctype="multipart/form-data"  class="container">
    <div class="form-group">
      <label for="otherName">Name</label>
      <input type="email" class="form-control" id="otherName" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="otherLastName">Last name</label>
      <input type="email" class="form-control" id="otherLastName" placeholder="Last Name">
    </div>
    <div class="form-group">
      <label for="otherEmail">Email address</label>
      <input type="email" class="form-control" id="otherEmail" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="otherSubject">Subject</label>
      <input type="text" class="form-control" id="otherSubject" placeholder="Subject">
    </div>
    <div class="form-group">
      <label for="otherDescription"></label>
      <input type="text" class="form-control" id="otherDescription" placeholder="">
    </div>
    <div type="submit" class="btn btn-lg btn-default form-button">Submit</div>
    <div class="btn btn-lg btn-danger form-button" ng-click="main.hideNormalForm()()"> Cancel </div>
  </form>
  <!-- Recruiter form -->
  <form ng-switch-when="true" mailto:javier.mora.alcazar@gmail.com method="post" enctype="multipart/form-data" class="container">
    <div class="form-group">
      <label for="recruiterName">Name</label>
      <input type="email" class="form-control" id="recruiterName" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="recruiterLastName">Last name</label>
      <input type="email" class="form-control" id="recruiterLastName" placeholder="Last Name">
    </div>
    <div class="form-group">
      <label for="recruiterEmail">Email address</label>
      <input type="email" class="form-control" id="recruiterEmail" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="recruiterCompany"> Recruiter company </label>
      <input type="text" class="form-control" id="recruiterCompany">
    </div>
    <div class="form-group">
      <label for="recruiterSubject">Subject</label>
      <input type="text" class="form-control" id="recruiterSubject" placeholder="Subject">
    </div>
    <div class="form-group">
      <label for="recruiterDescription">Job description/Comment</label>
      <textarea type="text" class="form-control" id="recruiterDescription" placeholder="Job description/Comment"></textarea>
    </div>
    <div>
      <div type="submit" class="btn btn-lg btn-default form-button">Submit</div>
      <div class="btn btn-lg btn-danger form-button" ng-click="main.hideRecruiterForm()"> Cancel </div>
    </div>
  </form>
</div>
