<!-- Introduction Section-->
<div id="sectionHome" class="row">
  <div class="introduction-text">
    <h1>Hello {{main.visitorName}}</h1>
    <p class="typewriter">
      My name is Javier Mora. How can I help you?
    </p>
    <div class="introduction-buttons">
      <!-- TODO: Add download file-->
      <a href="/files/CV_2017_Mora_Alcázar_Javier_english.pdf"><button class="download-button btn btn-lg btn-default" download> Download CV </button></a>
      <button class="contact-me-button btn btn-lg btn-default" ng-click="main.goToAnchor('Contact')"> Contact me </button>
    </div>
  </div>
  <video autoplay muted loop scroll>
    <source src="/videos/722781729.mp4" type="video/mp4">
    I'm sorry; your browser doesn't support HTML5 video.
  </video>
</div>

<!-- About me section-->
<div class="row">
  <div class="about-me-section">
    <div ng-include="'views/about.html'"></div>
  </div>
</div>

<!-- Soft Skills Section-->

<div id="sectionSkills" class="row soft-skills-section">
  <ul class="techList">
    <li id="creativity">Creativity</li>
    <li id="seo"> SEO </li>
    <li id="sem"> SEM </li>
    <li id="entrepreneurship"> Entrepreneurship </li>
    <li id="accessibility"> Accessibility</li>
    <li id="web-standards"> Web standards</li>
    <li id="analytics"> Analytics </li>
    <li id="marketing"> Marketing </li>
  </ul>
</div>

<!--Skills Section-->
<div class="row skills-section">
  <div ng-controller="SkillsCtrl as skills">
    <div ng-include="'views/skills.html'"></div>
  </div>
</div>

<!-- Work experience and education section-->
<div class="row">
  <div id="sectionWorkExperience" class="work-experience-section">
    <div ng-include="'views/workexperience.html'"></div>
  </div>
  <div id="sectionEducation" class="education-section">
    <div ng-include="'views/education.html'"></div>
  </div>
  <div class="certificates-section">
    <div ng-include="'views/certificates.html'"></div>
  </div>
</div>

<!--Go to form section-->

<div id="sectionContact" class="row user-profile-section">
  <h2 align="center"> Get Started </h2>
  <div class="buttons-group">
    <div class="button-recruiters-section col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <button class="btn btn-default button-recruiters" ng-click="main.showRecruiterForm() && main.hideNormalForm()"> Recruiters </button>
      <button ng-if="main.recruiterForm && main.showForm" class="btn btn-default button-remove" ng-click="main.hideRecruiterForm()"><i class="glyphicon glyphicon-remove"></i></button>
    </div>
    <div class="button-recruiters-section col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <button class="btn btn-default button-others" ng-click="main.showNormalForm() && main.hideRecruiterForm()"> Others </button>
      <button ng-if="!main.recruiterForm && main.showForm" class="btn btn-default button-remove" ng-click="main.hideNormalForm()"><i class="glyphicon glyphicon-remove"></i></button>
    </div>
  </div>
  <div class="section-contact-forms" ng-include="'/views/contact.html'"></div>
</div>

