<div>
  <h2 align="center"> Work experience </h2>
  <ul class="timeline">
    <li class="timeline-inverted">
      <div class="timeline-icon">
        <i class="glyphicon glyphicon-briefcase"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">
            Programmer Analyst - <b><a href="https://www.cognizant.com/es-es/">Cognizant</a></b>
          </h4>
        </div>
        <div class="timeline-body">
          As programmer analyst within the Digital Engagement Practice at Cognizant, I mainly work as web app developer focused on Frontend Tecnologies(HTML5, CSS3, AngularJS, JavaScript) for international clients, using agile methodologies, GIT and communication in English both with custumers and coworkers on a daily basis. Responsabilities of the position also includes working with webservices, REST and JSON.
        </div>
      </div>
    </li>
    <li class="timeline">
      <div class="timeline-icon">
        <i class="glyphicon glyphicon-briefcase"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">
            President & co-founder - <b><a href="http://www.startupcenter.es/"> Startup Center </a></b>
          </h4>
        </div>
        <div class="timeline-body">
          <b><a href="http://www.startupcenter.es/">Startup Center</a></b> is a <b>non-for-profit organization</b> aimed to encourage entrepreneur spirit among society and to increase the creation of tech and innovative business. To get that, we organice educational and training programs, workshops and business events in general aimed to teach and to help young people to kickstart their business and projects as well as to build entrepreneurial capabilities in students and their communities.
          To get further information about our project, you can visit us at www.startupcenter.es
          As president and co-founder of the organization I am in charge of the general working of the institution as well as the organization of the activities, strategies and relations with other institutions.
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-icon">
        <i class="glyphicon glyphicon-briefcase"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">
            Finance and operations assistant - <b><a href="https://www.db.com/"> Deutsche Bank </a></b>
          </h4>
        </div>
        <div class="timeline-body">
          <p>In my time working for Deutsche Bank I understood, on the one hand to learn the structure and operation of the different processes in a financial company as well as the use and operation of main financial products. On the other hand, I learned to manage my own portfolio of clients, as one of my main functions was the commercialization of certain financial products as personal loans or investment funds. </p>

          <p>My mains functions were:
          <ul>
            <li> Commercialization of financial products</li>
            <li> Supporting the ordinary operative in the office </li>
            <li> Cash flow control</li>
          </ul>
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
